*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit; // inherit the color of the parent
}

body{
    font-family:  sans-serif;
    overflow: hidden;
}